body { font-family: Montserrat, "Helvetica Neue", sans-serif; }
.site {
	margin-left: auto;
    margin-right: auto;
}
/*.site, .site-header { max-width: 1320px; }*/

.site:before,
.site-header,
#secondary { background-color: #fff; }

.site-header { border-bottom: 2px solid #ccc; }

.site-content .entry-header,
.site-content .entry-content { 
	max-width: 1098px;
}

.site-header .search-toggle { display: none; }

.header-main { 
	display: flex; 
	align-items: center;
}
.header-main > a { margin-right: 20px; }
.header-main > a > img { width: 50px; }
.header-main .primary-navigation {
	right: 0;
    position: absolute;
}
.site-title { font-size: 1.5rem; }
.site-title a, .site-title a:hover,
.site-navigation .menu-item > a { color: #000; }
.site-header .site-navigation .menu-item > a { font-size: 1.1rem; }
.site-navigation .current-menu-item > a { font-weight: 700; }

#secondary .site-navigation .menu-item > a { font-size: 0.95rem; }

#secondary { margin-top: 70px; }

.entry-title { font-weight: 500; }

.primary-navigation li:hover > a, 
.primary-navigation li.focus > a,
.secondary-navigation li:hover > a, 
.secondary-navigation li.focus > a,
.secondary-navigation ul ul a:hover, 
.secondary-navigation ul ul li.focus > a { 
	background-color: #146c43; 
	font-weight: 700;
}

.secondary-navigation ul ul { background-color: #d1e7dd; }

.site-content .has-post-thumbnail .entry-header { margin-top: 50px !important; }

.site-content .comments-area,
.site-content .has-post-thumbnail .post-thumbnail { display: none; }

.site-navigation .current-menu-ancestor > a { font-weight: 700; }

.site-navigation .current-menu-ancestor > a,
.site-navigation li .current-menu-item > a { color: #000 !important; }

.full-width .site-content blockquote.alignright, .full-width .site-content img.size-full.alignright, .full-width .site-content img.size-large.alignright, .full-width .site-content img.size-medium.alignright, .full-width .site-content .wp-caption.alignright {
    margin-right: inherit;
}